@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /*background: #042238;*/
    /*color: #ededed;*/
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent ;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed !important;
    text-decoration: none !important;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    /*animation-duration: 1s;*/
}
/* Ensure the text is visible */
.augmentation-header{
    padding-top: 8%;
}
.csv-augmentation-content{
    font-size: 20px !important;
}
.image-augmentation-content{
    font-size: 20px !important;
}

.augmentation-content{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px !important;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    /*background: url('INSIGHTS\ TO\ ARTIFICIAL\ NEURAL\ NETWORKS\ IN\ AI\ Gain\ real-time\ expertise\ in\ working\ on\ handling1.jpeg') no-repeat;
    */background-size: auto;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}



.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    text-align: justify;
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    color: white;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content h2{
    left: 16%;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}

.home-content h2::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box{
    position: relative;
    justify-content: space-between;
    width: 360px;
    height: auto;
    
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 4;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 150%;
    margin: 20px auto;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 13.7px;
    color: #081b29;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px ;
    z-index: -1;
    overflow: hidden;
    transition: .5s;
    transition: background-color 0.3s, color 0.3s;
}

.btn-box a:hover {
    background-color: #081b29;
    color: #00abf0;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(1):hover {
    background-color: #081b29;
    color: #00abf0;
}

/*.btn-box a:nth-child(1)::before {
    background: #00abf0;
}*/

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#background-video-text-box{
    width: 100%;
    height: 107%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

}

#background-video-csv{
    width: 100%;
    height: 107%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

}

.image-augmentation{
    left: 29%;
    top: 28%;
}
.image-augmentation-height{
    height: 64rem;
}

.text-box{
    height: 80rem;
}

.csv-augmentation{
    left: 28%;
    top: 30%;
}

.email-section {
    position: relative;
    left: 18%;
    text-align: center;
    margin-bottom: 20px;
}

.email-input {
    position: relative;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 10px;
}
.email-input:hover{
    background-color: #081b29;
    color: #00abf0;
}

.submit-email-btn {
    margin-top: 5%;
    position: relative;
    left: 55%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00abf0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-email-btn:hover{
    background-color: #081b29;
    color: #00abf0;
}

.upload-buttons {
    margin-top: 20px;
}

/* Rest of your existing CSS styles */

.home-imgHover {
    position: absolute;
    top: 0;
    right: 10px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
} 

/*.home-imgHover:hover {
    background: #042238;
    opacity: .8;*
} */

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #042238;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}


/* Apply styles to the buttons */
.file-label {
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #00abf0;
    color: #081b29;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    position: relative; /* Added for positioning of pseudo-element */
}

.file-label-image{
    left: 44%;
}

.file-label-csv{
    left: 45%;
}
/* Apply styles to the buttons' pseudo-elements */
.file-label::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #042238;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

/* Apply hover effect to the buttons */
.file-label:hover::before {
    width: 0;
}

/* Rest of the styles for hover effect */
.file-label:hover {
    background-color: #081b29;
    color: #00abf0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p{
    text-align: center;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.result-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}

.result-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #00abf0;
    color: #081b29;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* Added for positioning of pseudo-element */
}

.result-btn:hover::before {
    width: 0;
}

/* Rest of the styles for hover effect */
.result-btn:hover {
    background-color: #081b29;
    color: #00abf0;
}



/* KeyFrames Animation */
@keyframes showRight {
    100% {
        width: 0;
    }
    
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

